<h1>クレーム</h1>
<h3>投稿詳細</h3>
<div class="claimer">
  
  <p><%= @claimer.body_c %></p>
  <p><%= @claimer.created_at %></p>
  <% if user_signed_in? %>
    <% if current_user.already_c_liked?(@claimer) %>
        <%= link_to claimer_c_like_path(@claimer), method: :delete do %>
          <i class="fas fa-heart"></i><%= @claimer.c_likes.count %>
        <% end %>
    <% else %>
        <%= link_to claimer_c_likes_path(@claimer), method: :post do %>
            
          <i class="far fa-heart"></i><%= @claimer.c_likes.count %>
            
        <% end %>
    <% end %>
<% else %>
  <i class="far fa-heart"></i><%= @claimer.c_likes.count %>
<% end %>

</div>

<h2>いいねしたユーザー</h2>
<% @claimer.c_liked_users.each do |user| %>
  <li><%= user.email %></li>
<% end %>
</div>

<div class="c_comment-wrapper">
  <p>コメント一覧</p>
  <% @c_comments.each do |c| %>
    <div>
      <%= c.user.email unless c.user.blank? %>
      <br>
      <%= c.content %>
    </div>
      <br>
  <% end %>

  <% if user_signed_in? %>
    <%= form_with(model: [@claimer, @c_comment], local: true) do |f| %>
      <%= f.text_area :content %>
      <%= button_tag type: "submit" do %>
        <i class="far fa-c_comments"></i> コメントする
      <% end %>
    <% end %>
  <% end %>
</div>

<%= link_to "編集する", edit_claimer_path(@claimer.id) %>
<%= link_to "投稿一覧に戻る", claimers_path %>